<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{'/webjars/jquery/3.6.0/dist/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js'}"></script>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/5.1.3/css/bootstrap.min.css'}">
    <title>admin panel</title>
</head>
<body class="bg-light" style="margin: 0;padding: 0; box-sizing: border-box">
<div >
    <div th:replace="/fragments/header::header(obj=${admin})"></div>
    <div class="row">
        <div class="col-2 bg-white p-0" style="height: 100vh;">
            <ul class="nav flex-column nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active border1" aria-current="page" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/user'}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 ">
            <div>
                <h1>Admin panel</h1>
                    <nav>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#all"
                                        type="button" role="tab"
                                        aria-controls="home"
                                        aria-selected="true">All users</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="profile-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#new"
                                        type="button" role="tab"
                                        aria-controls="profile"
                                        aria-selected="false">New user</button>
                            </li>
                        </ul>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div th:replace="/fragments/userstable::usertable"></div>
                         </div>
                        <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card me-3">
                                <div class="card-header">
                                    Add New User
                                </div>
                                <div class="container mt-5 mb-5" style="width: 35%;">
                                    <div class="editForm" th:insert="/fragments/newuserfragment::newuser(id= 'newUser',
                                                                                          url=@{'/admin/new'},
                                                                                          mt = 'POST',
                                                                                          obj=${newuser},
                                                                                          disabled=${false},
                                                                                          inptId = 'new'
                                                                                          )
                                    "></div>
                                    <button type="submit" class="btn btn-primary" th:form="newUser">create new user</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
</div>
</div>
<script th:src="@{'/js/script.js'}"></script>

</body>
</html>


